/* Inserta tu CSS aqui */
div {
	background-color: grey;
	width: 100px;
	height: 100px;
	margin: 10px;
	border: 1px solid black;
}

body {
	margin: 0px;
}

.mayor {
	width: 370px;
	height: 130px;
	padding: 0px;
	display: block;
}

.menor {
	background-color: grey;
	float: left;

	border:1px solid black;
}

.izq {
	float: left;
}

.static {
	clear: both;
}