/* Inserta tu CSS aqui */
.padre {
	background-color: red;
	width: 500px;
	height: 500px;
	position: static;
}

.hijo {
	background-color: #752E80;
	width: 300px;
	height: 300px;
	position: relative;
	top: 100px;
	left: 100px;
}

.nieto {
	background-color: yellow;
	width: 100px;
	height: 100px;
	position: absolute;
	top: 0px;
}