html, body {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	height: 100%;
	width: 100%;
}
body{
	background-color: grey;
	font-family: Courier;
	font-size: 1.5em;
}
.w-80{
	width: 80%;

}
.flex {
	display: flex;
	align-items: center;
	justify-content: center;
}