/* Pon tu código css aqui */
body {
	margin: 0px;
	padding: 0px;
}

.uno, .dos, .tres, .cuatro {
	width: 200px;
	height: 200px;
}

.uno {
	background-color: #ED2251;
}

.dos {
	background-color: #3A81BA;
	position: absolute;
	left: 200px;
}

.tres {
	background-color: #8BAB42;
}

.cuatro {
	background-color: yellow;
}